<a href="https://colab.research.google.com/github/marinasb28/Python-Manuel/blob/main/Level_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color="magenta">RETO 1: Las variables</font>

1. Crea una variable con el precio de un juguete que es 15.
2. Muestra su valor en pantalla.
3. El precio baja a 12. Asigna el nuevo valor a la variable
   que has creado.
4. Muestra el nuevo valor por pantalla.

In [2]:
juguete = 15
print("Valor 1: {}".format(juguete))
juguete = 12
print("Valor 2: {}".format(juguete))

Valor 1: 15
Valor 2: 12

# <font color="magenta">RETO 2: Usando las variables</font>

1. Crea una variable "caramelos" con valor 5
2. Crea una variable "precio" con valor 2
3. Crea otra variable que calcule el coste de comprar los caramelos
4. Muestra el valor del coste por pantalla.

5. Cambia el número de caramelos a 8
6. Cambia el precio a 3
7. Calcula de nuevo el coste.
8. Muestra el nuevo coste por pantalla.

In [4]:
caramelos = 5
precio = 2
total = caramelos * precio
print("{} caramelos cuestan {}".format(caramelos,total))
caramelos = 8
precio = 3
total = caramelos * precio
print("{} caramelos cuestan {}".format(caramelos,total))

5 caramelos cuestan 10
8 caramelos cuestan 24

# <font color="magenta">RETO 3 & 4: Usando más variables & practicando con ellas</font>

Utiliza variables para resolver estas operaciones:

1. Tenemos 15 de ahorros.
2. Nuestro abuelo nos da 10.
3. Nos gastamos 2 en un helado.
4. Nuestra tía nos da 5.
5. Nos gastamos 7 en un juego.
6. ¿Cuánto dinero tendremos?

No importa la moneda que sea, puedes imaginarte que
es cualquier moneda.

In [5]:
mi_dinero = 15
din_abuelo = 10 # ahora tendría 25
din_helado = 2 # ahora pasaría a 23
din_tia = 5 # volvería a subir a 28
din_juego = 7 # bajaría a 21
total = 15+10-2+5-7
print(total)

21

# <font color="magenta">RETO 5: Los nombres de las variables</font>

Elige un nombre para una variable que guarde el total de puntos
en un juego, entre las que se ofrecen a continuación:

* global
* puntos-totales
* @total
* 1puntos
* puntos_total

De los 5 nombre, 4 son ilegales y uno sólamente es legal.

In [6]:
# la única que es legal es puntos_total

# <font color="magenta">RETO 6: Convención de los nombres</font>

In [ ]:
print(2*3 + 2*5 == 3*3 + 9/3)
# 6 + 10 = 16 || 9 + 3 = 12 || False

False

# <font color="magenta">RETO 7: Asignar no es comparar</font>

Trata de resolver mentalmente estas expresiones:

* 5 es mayor que 7 y 3 es menor que 4
* 8 es mayor o igual que 6 y 9 es distinto de 7

A continuación tradúcelas al lenguaje Python en el IDLE,
y comprueba si has acertado el resultado.

In [ ]:
print( (5>7) and (3<4)) # F & T = F
print( (8>=6) and (9!=7)) # T & T = T

False
True

# <font color="magenta">RETO 8: Variables con valor lógico</font>

Traduce estas expresiones al lenguaje python tratando de
averiguar primero cuál es el resultado de ellas:

* 2 más 2 es igual a 5 ó 4 es igual a 4
* 3 por 2 es igual a 8 ó 5 es distinto de 5

In [ ]:
print( (2+2==5) or (4==4)) # F or T = T
print( (3*2 == 8) or (5 != 5)) # F & F = F

True
False

# <font color="magenta">RETO 9: Más ejercicios con variables</font>

Traduce estas expresiones al lenguaje python tratando de
averiguar primero cuál es el resultado de ellas:

* No es que 6 sea mayor que 2
* No es que 2 más 2 sea igual a 5

In [ ]:
print(not 6 >2) # como es verdadero, saldrá F
print(not 2+2 == 5) # como es falsa, saldrá T

False
True

# <font color="magenta">RETO 10: Intercambiando valores</font>

Traduce esta expresión al lenguaje python tal y como aparece.
Luego vete resolviéndola por partes, según la precedencia de 
los operadores:

No es que 3 más 3 sea mayor que 2 por 3

In [ ]:
print(not 3+3 > 2*3) # 6 > 6, falso ya que es igual, por lo que saldrá T

True

# <font color="magenta">RETO 11: Asignaciones múltiples</font>

Traduce esta expresión al lenguaje python teniendo en cuenta
la precedencia de los operadores:

5 por 2 es mayor que 9 y no es que 3 sea mayor que 4

1. not
2. and
3. or

In [ ]:
print(5*2 >9 and not 3 >4) # T and T = T

True